@font-face {
    font-family: 'gotham1';
    src: url(../fonts/Gotham-Book.ttf);
}
@font-face {
    font-family: 'gotham2';
    src: url(../fonts/Gotham-Bold.ttf);
}

.page {
    height: 100%;
    background: #1e274c;
    position: relative;
}
.content {
    height: 100%;
    align-items: center;
    background: url(../images/ondasgrandes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;                
}
ul {
    list-style: none;
}
h2 {
    font-family: 'gotham2';
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
}
.footer {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 3rem;
    right: auto;
    left: auto;
}
.anscont {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}
.answer {
    font-family: 'gotham1';
    display: inline;
    color: #ffffff !important;
    font-size: 2rem;
    margin-right: 1.5rem;
}
@media (min-width: 450px) {
    .footer {
        width: 50%;
    }
    .anscont {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .answer {
        display: block;
        font-size: 2.5rem;
        margin-top: 2rem;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .footer {
        width: 20%;
        height: auto;
        position: absolute;
        bottom: 3rem;
        right: auto;
        left: auto;
    }
    .anscont {
        width: 80%;
    }
}