<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <div id="app" class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <h5>Preguntas</h5>
                    <div class="questions-cont">
                        <ul id="example-2">
                            <li v-for="item in questions" :key="item.id">
                                {{ item.question }}
                                <div class="row justify-content-space-between">
                                    <a class="btn btn-primary mr-2 text-white" v-for="aa in answers" v-if="aa.question == item.id" :key="aa.id" v-on:click="addCount(aa.id)">{{ aa.answer }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCNkfSKZxFdXlbvlPhGjw8-eNRAWUEYCRY",
            authDomain: "preguntas-97ddb.firebaseapp.com",
            databaseURL: "https://preguntas-97ddb.firebaseio.com",
            projectId: "preguntas-97ddb",
            storageBucket: "preguntas-97ddb.appspot.com",
            messagingSenderId: "234546564360"
        };
        firebase.initializeApp(config);

        var database = firebase.database();
        function writeQuestions(questionId, question) {
            firebase.database().ref('questions/' + questionId).set({
                question: question
            });
            var st = {id: Number(questionId), question: question};
            questions.push(st);
        }

        function writeAnswers(questionId, answerId, answer) {
            firebase.database().ref('answers/' + answerId).set({
                question: questionId,
                answer: answer,
                count: 0
            });
            var st = {id: Number(answerId), count: 0, answer: answer, question: Number(questionId)};
            answers.push(st);
        }

        function readQuestions() {
            var json = [];
            var qq = firebase.database().ref('questions');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), question: e.val().question};
                    lastid = Number(e.key);
                    json.push(st);
                });
            });
            return json;
        }

        function readAnswers() {
            var json = [];
            var qq = firebase.database().ref('answers');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), count: e.val().count, answer: e.val().answer, question: e.val().question};
                    lastida = Number(e.key);
                    json.push(st);
                });
            });
            return json;    
        }

        function countAnswer(id) {
            var starCountRef = firebase.database().ref('answers/' + id);
            starCountRef.once('value', function(snapshot) {
                firebase.database().ref('answers/' + id).set({
                    question: snapshot.val().question,
                    answer: snapshot.val().answer,
                    count: Number(snapshot.val().count) + 1
                });
            });
        }

        var questions;
        var answers;
        var lastid = 0;
        var lastida = 0;

        questions = readQuestions();
        answers = readAnswers();
        

        </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            $(document).ready(function(){
                $('#addquestion').submit(function(e){
                    e.preventDefault();
                    var qq = $('#questionname').val();
                    lastid = lastid + 1;
                    writeQuestions(lastid, qq);
                    $('#questionname').val('');
                });                
            });
        </script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    questions: questions,
                    answers: answers
                },
                methods: {
                    addAnswer: function (e) {
                        var answer = e.target.elements.answer.value;
                        var id = e.target.elements.questionid.value;
                        lastida = lastida + 1;
                        writeAnswers(id, lastida, answer);
                        e.target.elements.answer.value = '';
                    },
                    addCount: function(id) {
                        countAnswer(id);
                    },
                    getAnswers: function(id){
                        var aa = readAnswers();
                        return aa;
                    }
                }
            })
        </script>
    </body>
</html>