<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="js/Chart.bundle.js"></script>
        <style>
            @font-face {
                font-family: 'gotham1';
                src: url(fonts/Gotham-Book.ttf);
            }
            @font-face {
                font-family: 'gotham2';
                src: url(fonts/Gotham-Bold.ttf);
            }

            .page {
                height: 100%;
                background: #1e274c;
            }
            .content {
                height: 100%;
                align-items: center;
                background: url(images/ondas.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;
                position: relative;
            }
            ul {
                list-style: none;
            }
            h2 {
                font-family: 'gotham2';
                color: #ffffff;
                font-size: 2.5rem;
                text-align: center;
            }
            .footer {
                width: 50%;
                height: auto;
                position: absolute;
                bottom: -8rem;
                right: 3rem;
            }
        </style>
    </head>
    <body>

        <div id="app" class="container-fluid page">
            <div class="row justify-content-center content">
                <div class="col-sm-7">
                    <div class="questions-cont">
                        <ul id="example-2">
                            <li v-for="item in questions" v-if="item.id == 3" :key="item.id">
                                <h2>{{ item.question }}</h2>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div>
                        <canvas id="chartContainer"></canvas>
                    </div>
                    <img class="footer" src="images/footer.svg">
                </div>
            </div>
        </div>


        <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            var respuestas = [];
            var labels = [];
            var chart;
            $(window).load(function(){
                var ctx = document.getElementById('chartContainer').getContext('2d');
                chart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: respuestas,
                            backgroundColor: ['#de3039', '#de3039', '#2baab1', '#2baab1'],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                        },
                        gridLines: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                                legend: {
                                    labels: {
                                        fontColor: 'white',
                                    }
                                },
                                ticks: {
                                    beginAtZero:true
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    fontColor: 'rgb(255, 255, 255)',
                                },
                                legend: {
                                    labels: {
                                        fontColor: 'white',
                                    }
                                },
                            }]
                        }
                    }
                });

            });
            function renderAgain() {
                chart.update();
            }
        </script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCNkfSKZxFdXlbvlPhGjw8-eNRAWUEYCRY",
            authDomain: "preguntas-97ddb.firebaseapp.com",
            databaseURL: "https://preguntas-97ddb.firebaseio.com",
            projectId: "preguntas-97ddb",
            storageBucket: "preguntas-97ddb.appspot.com",
            messagingSenderId: "234546564360"
        };
        firebase.initializeApp(config);

        var database = firebase.database();

        var idpregunta = 3;
        var titulo = '';
        var isloading = true;
        

        function readQuestions() {
            var json = [];
            var qq = firebase.database().ref('questions');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), count: 0, question: e.val().question};
                    if ( Number(e.key) == idpregunta ){
                        titulo = e.val().question;
                    }
                    lastid = Number(e.key);
                    json.push(st);
                    countPerQuestion.push({id: Number(e.key), count: 0});
                });
            });
            return json;
        }

        function readAnswers() {
            var json = [];
            var qq = firebase.database().ref('answers');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), percent: 0, count: e.val().count, answer: e.val().answer, question: e.val().question};
                    if (Number(e.val().question) == idpregunta) {
                        //respuestas.push({id: Number(e.key), y: e.val().count, name: e.val().answer});
                        respuestas.push(e.val().count);
                        labels.push(e.val().answer);
                    }
                    lastida = Number(e.key);
                    json.push(st);
                    countPerAnswer.push({id: Number(e.key), count: e.val().count});
                    readAnswer(Number(e.key));
                    renderAgain();
                });
                if (isloading){
                    setTimeout(function(){
                        isloading = false;
                    },2000);
                }
            });
            return json;    
        }
        function readAnswer(id) {
            var qq = firebase.database().ref('answers/' + id);
            qq.on('value', function(snap){
                var item = answers.find(item => item.id == id);
                if (respuestas.length > 0) {
                    var item2 = respuestas.find(item => item.id == id);
                    if (item2) {
                        item2.y = snap.val().count;
                        renderAgain();
                    }
                }
                item.count = snap.val().count;
                var aa2 = answers.filter(item => item.question == snap.val().question);
                var sum = 0;
                for(let aa3 of aa2) {
                    sum = Number(aa3.count) + Number(sum);
                }
                var qq = questions.find(item => item.id == snap.val().question);
                qq.count = sum;                
                for(let [index, aa3] of aa2.entries()) {
                    aa3.percent = (Number(aa3.count) * 100) / sum;
                    aa3.percent = Number(aa3.percent).toFixed(2);
                    //respuestas.push(aa3.count);
                    if ( isloading == false ){
                        chart.data.datasets[0].data[index] = aa3.count;
                        chart.update();
                    }
                }
            });
        }

        function countAnswer(id) {
            var starCountRef = firebase.database().ref('answers/' + id);
            starCountRef.once('value', function(snapshot) {
                firebase.database().ref('answers/' + id).set({
                    question: snapshot.val().question,
                    answer: snapshot.val().answer,
                    count: Number(snapshot.val().count) + 1
                });
            });
        }

        var questions;
        var answers;

        var countPerQuestion = [];
        var countPerAnswer = [];

        questions = readQuestions();
        answers = readAnswers();

        </script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    questions: questions,
                    answers: answers,
                    title: titulo
                },
                methods: {
                    getAnswers: function(id){
                        return readAnswers();
                    },
                    getCountAn: function(id) {
                        return readAnswer(id);
                    },
                    countQuestion: function(id){
                        var qq = countPerQuestion.filter(function(val){
                            if (Number(val.id) === Number(id)) {
                                return val;
                            }
                        });
                        return qq[0].count;
                    },
                    countpAnswer: function(id){
                        var aa = countPerAnswer.filter(function(val){
                            if (Number(val.id) === Number(id)){
                                return val;
                            }
                        });
                        return aa[0].count;
                    }
                }
            })
        </script>
        <script>
            $(window).load(function(){
                $('.canvasjs-chart-credit').css('display', 'none');
            });
        </script>
    </body>
</html>