<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            @font-face {
                font-family: 'gotham1';
                src: url(fonts/Gotham-Book.ttf);
            }
            @font-face {
                font-family: 'gotham2';
                src: url(fonts/Gotham-Bold.ttf);
            }

            .page {
                height: 100%;
                background: #1e274c;
                position: relative;
            }
            .content {
                height: 100%;
                align-items: center;
                background: url(images/ondasgrandes.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;                
            }
            ul {
                list-style: none;
            }
            h2 {
                font-family: 'gotham2';
                color: #ffffff;
                font-size: 4rem;
                text-align: center;
            }
            .footer {
                width: 20%;
                height: auto;
                position: absolute;
                bottom: 3rem;
                right: auto;
                left: auto;
            }
            .anscont {
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;
                margin-top: 5rem;
            }
            .answer {
                font-family: 'gotham1';
                display: inline;
                color: #ffffff !important;
                font-size: 2rem;
                margin-right: 1.5rem;
                user-select: none;
                border: 2px solid #ffffff;
                padding: 1.25rem 1.25rem 0 1.25rem;
            }
            @media (min-width: 450px) {
                .footer {
                    width: 50%;
                }
                .anscont {
                    width: 100%;
                }
                .answer {
                    font-size: 2.5rem;
                    user-select: none;
                }
            }

            @media (min-width: 1000px) {
                .footer {
                    width: 20%;
                    height: auto;
                    position: absolute;
                    bottom: 3rem;
                    right: auto;
                    left: auto;
                }
                .anscont {
                    width: 80%;
                }
            }
        </style>
    </head>
    <body>

        <div id="app" class="container-fluid page">
            <div class="row justify-content-center content">
                <div class="col-sm-10">
                    <div class="questions-cont">
                        <ul id="example-2">
                            <li v-for="item in questions" v-if="item.id == 2" :key="item.id">
                                <h2>{{ item.question }}</h2>
                                <div class="row anscont">
                                    <a class="answer" v-for="aa in answers" v-if="aa.question == item.id" :key="aa.id" v-on:click="addCount(aa.id)">{{ aa.answer }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <img class="footer" src="images/footer.svg">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ud ya respondio esta pregunta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ya no puede votar de nuevo por la misma pregunta, gracias.
                    </div>
                    <div class="modal-footer">
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="messagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Gracias por su participación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Se aprecia su opinion sobre este tema, gracias.
                    </div>
                    <div class="modal-footer">
                    </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            var respuestas = [];
            var labels = [];
        </script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCNkfSKZxFdXlbvlPhGjw8-eNRAWUEYCRY",
            authDomain: "preguntas-97ddb.firebaseapp.com",
            databaseURL: "https://preguntas-97ddb.firebaseio.com",
            projectId: "preguntas-97ddb",
            storageBucket: "preguntas-97ddb.appspot.com",
            messagingSenderId: "234546564360"
        };
        firebase.initializeApp(config);

        var database = firebase.database();

        var idpregunta = 2;
        var titulo = '';
        

        function readQuestions() {
            var json = [];
            var qq = firebase.database().ref('questions');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), count: 0, question: e.val().question};
                    if ( Number(e.key) == idpregunta ){
                        titulo = e.val().question;
                    }
                    lastid = Number(e.key);
                    json.push(st);
                    countPerQuestion.push({id: Number(e.key), count: 0});
                });
            });
            return json;
        }

        function readAnswers() {
            var json = [];
            var qq = firebase.database().ref('answers');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), percent: 0, count: e.val().count, answer: e.val().answer, question: e.val().question};
                    lastida = Number(e.key);
                    json.push(st);
                    countPerAnswer.push({id: Number(e.key), count: e.val().count});
                    readAnswer(Number(e.key));
                });
            });
            return json;    
        }
        function readAnswer(id) {
            var qq = firebase.database().ref('answers/' + id);
            qq.on('value', function(snap){
                var item = answers.find(item => item.id == id);
                item.count = snap.val().count;
                var aa2 = answers.filter(item => item.question == snap.val().question);
                var sum = 0;
                for(let aa3 of aa2) {
                    sum = Number(aa3.count) + Number(sum);
                }
                var qq = questions.find(item => item.id == snap.val().question);
                qq.count = sum;                
                for(let aa3 of aa2) {
                    aa3.percent = (Number(aa3.count) * 100) / sum;
                    aa3.percent = Number(aa3.percent).toFixed(2);
                }
            });
        }

        function countAnswer(id) {
            var starCountRef = firebase.database().ref('answers/' + id);
            starCountRef.once('value', function(snapshot) {
                firebase.database().ref('answers/' + id).set({
                    question: snapshot.val().question,
                    answer: snapshot.val().answer,
                    count: Number(snapshot.val().count) + 1
                });
            });
        }

        var questions;
        var answers;

        var countPerQuestion = [];
        var countPerAnswer = [];

        questions = readQuestions();
        answers = readAnswers();

        </script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    questions: questions,
                    answers: answers,
                    title: titulo
                },
                methods: {
                    addCount: function(id) {
                        var ok2 = localStorage.getItem('respuesta2');
                        if ( ok2 == null) {
                            countAnswer(id);
                            $('#messagemodal').modal('show');
                        } else {
                            $('#errormodal').modal('show');
                        }                        
                        localStorage.setItem('respuesta2', 'ok');
                    },
                    getAnswers: function(id){
                        return readAnswers();
                    },
                    getCountAn: function(id) {
                        return readAnswer(id);
                    },
                    countQuestion: function(id){
                        var qq = countPerQuestion.filter(function(val){
                            if (Number(val.id) === Number(id)) {
                                return val;
                            }
                        });
                        return qq[0].count;
                    },
                    countpAnswer: function(id){
                        var aa = countPerAnswer.filter(function(val){
                            if (Number(val.id) === Number(id)){
                                return val;
                            }
                        });
                        return aa[0].count;
                    }
                }
            })
        </script>
        <script>
            $(window).load(function(){
                $('.canvasjs-chart-credit').css('display', 'none');
            });
        </script>
    </body>
</html>