<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <div id="app" class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <h5>Preguntas</h5>
                    <div class="questions-cont">
                        <ul id="example-2">
                            <li v-for="item in questions" :key="item.id">
                                {{ item.question }} - Numero de respuestas: {{ item.count }}
                                <div class="row justify-content-space-between">
                                    <a class="btn btn-primary mr-2 text-white"
                                        v-for="aa in answers"
                                        v-if="aa.question == item.id"
                                        :key="aa.id">{{ aa.answer }} - {{ aa.percent }} %</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCNkfSKZxFdXlbvlPhGjw8-eNRAWUEYCRY",
            authDomain: "preguntas-97ddb.firebaseapp.com",
            databaseURL: "https://preguntas-97ddb.firebaseio.com",
            projectId: "preguntas-97ddb",
            storageBucket: "preguntas-97ddb.appspot.com",
            messagingSenderId: "234546564360"
        };
        firebase.initializeApp(config);

        var database = firebase.database();

        function readQuestions() {
            var json = [];
            var qq = firebase.database().ref('questions');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), count: 0, question: e.val().question};
                    lastid = Number(e.key);
                    json.push(st);
                    countPerQuestion.push({id: Number(e.key), count: 0});
                });
            });
            return json;
        }

        function readAnswers() {
            var json = [];
            var qq = firebase.database().ref('answers');
            qq.once('value', function(snap){
                snap.forEach(function(e) {
                    var st = {id: Number(e.key), percent: 0, count: e.val().count, answer: e.val().answer, question: e.val().question};
                    lastida = Number(e.key);
                    json.push(st);
                    countPerAnswer.push({id: Number(e.key), count: e.val().count});
                    readAnswer(Number(e.key));
                });
            });
            return json;    
        }
        function readAnswer(id) {
            var qq = firebase.database().ref('answers/' + id);
            qq.on('value', function(snap){
                var item = answers.find(item => item.id == id);
                item.count = snap.val().count;
                var aa2 = answers.filter(item => item.question == snap.val().question);
                var sum = 0;
                for(let aa3 of aa2) {
                    sum = Number(aa3.count) + Number(sum);
                }
                var qq = questions.find(item => item.id == snap.val().question);
                qq.count = sum;                
                for(let aa3 of aa2) {
                    aa3.percent = (Number(aa3.count) * 100) / sum;
                    aa3.percent = Number(aa3.percent).toFixed(2);
                }
            });
        }

        function countAnswer(id) {
            var starCountRef = firebase.database().ref('answers/' + id);
            starCountRef.once('value', function(snapshot) {
                firebase.database().ref('answers/' + id).set({
                    question: snapshot.val().question,
                    answer: snapshot.val().answer,
                    count: Number(snapshot.val().count) + 1
                });
            });
        }

        var questions;
        var answers;

        var countPerQuestion = [];
        var countPerAnswer = [];

        questions = readQuestions();
        answers = readAnswers();

        </script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    questions: questions,
                    answers: answers
                },
                methods: {
                    getAnswers: function(id){
                        return readAnswers();
                    },
                    getCountAn: function(id) {
                        return readAnswer(id);
                    },
                    countQuestion: function(id){
                        var qq = countPerQuestion.filter(function(val){
                            if (Number(val.id) === Number(id)) {
                                return val;
                            }
                        });
                        return qq[0].count;
                    },
                    countpAnswer: function(id){
                        var aa = countPerAnswer.filter(function(val){
                            if (Number(val.id) === Number(id)){
                                return val;
                            }
                        });
                        return aa[0].count;
                    }
                }
            })
        </script>
    </body>
</html>